doctype html 
html 
     head 
          title Aakas's dance academy 
          block scripts 
          block style 
     body 
          nav#navbar
               ul
                    div#logo
                         img(src="/static/img/logo.png", alt="logo")
                         | ADA
                    li #[a(href = '/') Home]
                    li #[a(href = '/') About]
                    li #[a(href = '/') Services]
                    li #[a(href = '/') Class Info]
                    li #[a(href = '/contact') Contact us]
          block  content 
          block#footer 
                    |  Copyright 2021 © AakashDanceAcademy.com | All rights reserved